*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    padding: 15px;
}

.header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.text{
    font-size: 14px;
    line-height: 2.2;
    color: #878787;
    text-align: center;
}

ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 50px;
    margin-bottom: 60px;
}

.course-name{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #474747;
    margin: 0 20px;
}
.course-name:hover{
    cursor: pointer;
}


/* Child combinator */
/* ul.courses > li {
    color: red !important;
} */


.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card{
    padding: 0 15px;
    margin-bottom: 30px;
    width: 280px;
}
.course-img{
    width: 280px;
    height: 270px ;
    background-position: center;
    background-size: cover;
    position: relative;
}
.price{
    padding: 13px 19px;
    margin: 14px;
    background-color: #d82a4e;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.course-info{
    padding: 45px 33px 25px;
    background-color: #edf4f6;
    border-bottom: 1px solid #d4dee1;
}
.card .course-name{
    font-size: 20px;
}
.card .students-num{
    color: #d82a4e;
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 0 0 ;
}
.instructor-info{
    background-color: #edf4f6;
    display: flex;
    padding: 14px 33px;

}
.instructor-img{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-image: url('./assets/instructor.webp');
    background-position: center;
    background-size: cover;
    
}
.instructor-name{
    padding-left: 20px;
    margin-bottom: 0;
    padding-top: 7px;
    font-weight: 600;
    color : #878787;
}
span{
    display: block;
    color: #d82a4e;
    padding-top: 7px;
    font-size: 14.1px;

}
.course1{
    background-image: url('./assets/course1.jpg');
}
.course2{
    background-image: url('./assets/course2.jpg');
}
.course3{
    background-image: url('./assets/course3.jpg');
}
